/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : @CURRENT_THEME;
@reset       : @CURRENT_THEME;

/* Elements */
@button      : @CURRENT_THEME;
@container   : @CURRENT_THEME;
@divider     : @CURRENT_THEME;
@flag        : @CURRENT_THEME;
@header      : @CURRENT_THEME;
@icon        : @CURRENT_THEME;
@image       : @CURRENT_THEME;
@input       : @CURRENT_THEME;
@label       : @CURRENT_THEME;
@list        : @CURRENT_THEME;
@loader      : @CURRENT_THEME;
@placeholder : @CURRENT_THEME;
@rail        : @CURRENT_THEME;
@reveal      : @CURRENT_THEME;
@segment     : @CURRENT_THEME;
@step        : @CURRENT_THEME;

/* Collections */
@breadcrumb  : @CURRENT_THEME;
@form        : @CURRENT_THEME;
@grid        : @CURRENT_THEME;
@menu        : @CURRENT_THEME;
@message     : @CURRENT_THEME;
@table       : @CURRENT_THEME;

/* Modules */
@accordion   : @CURRENT_THEME;
@checkbox    : @CURRENT_THEME;
@dimmer      : @CURRENT_THEME;
@dropdown    : @CURRENT_THEME;
@embed       : @CURRENT_THEME;
@modal       : @CURRENT_THEME;
@nag         : @CURRENT_THEME;
@popup       : @CURRENT_THEME;
@progress    : @CURRENT_THEME;
@rating      : @CURRENT_THEME;
@search      : @CURRENT_THEME;
@shape       : @CURRENT_THEME;
@sidebar     : @CURRENT_THEME;
@sticky      : @CURRENT_THEME;
@tab         : @CURRENT_THEME;
@transition  : @CURRENT_THEME;

/* Views */
@ad          : @CURRENT_THEME;
@card        : @CURRENT_THEME;
@comment     : @CURRENT_THEME;
@feed        : @CURRENT_THEME;
@item        : @CURRENT_THEME;
@statistic   : @CURRENT_THEME;

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '_site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
